# Default ignored files
/shelf/
/workspace.xml
/.idea/checkstyle-idea.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/Xiaomi-ax3000t-openwrt.iml
.github/*
/.github/
/.idea/.gitignore
